body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
}

.card {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: rgb(3, 94, 95);
  color: white;
  font-weight: 600;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-family: 'Montserrat', sans-serif;
}

.card-body {
  padding: 2rem;
}

.form-label {
  font-weight: 600;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary {
  background-color: rgb(3, 94, 95);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  
  

}

.btn-primary:hover {
  background-color: #02494a;
}

.extra-links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(3, 94, 95);
}

.extra-links a:hover {
  text-decoration: underline;
}

/*.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-weight: 500;
}

.btn-google img {
  width: 20px;
  height: 20px;
}
*/
.alert {
  border-radius: 8px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}