.tooltip {
      visibility: hidden;
      width: 220px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-align: left;
      padding: 10px;
      border-radius: 6px;
      
      /* Posición */
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

.tooltip:hover {visibility:visible;}