* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* color del cuerpo del fondo de la pagina */
body {
  background-color: #fff;
}

/* carrusel se llama con # porque es ID y la clase inner que es la que contiene las imagenes */
#carouselExampleSlidesOnly .carousel-inner {
  max-width: 2000px; /* tamaño de donde irán las imágenes */
  margin: 50px auto 0; /* margen superior para despegar de la navbar */
  overflow: hidden; /* me permite controlar la imagen y su desbordamiento en el contenedor para que luzca impecable */
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* da una apariencia de sombreado de mis imágenes lo cual me ayuda a mostrar la delimitación y estética de las mismas */
}

.carousel {
  display: flex; /* activa Flexbox */
  transition: transform 0.5s ease-in-out; /* tiempo de transición de mis imágenes del carrusel */
  background-color: white; /* color del fondo de mi contenedor */
  padding: 5px; /* área de relleno de los cuatro lados de mi elemento */
}

/* mi carrusel */
.hero .carousel-item {
  width: 100%; /* ancho de mi imagen */
  height: 1000px; /* Altura de mi imagen */
  object-fit: cover; /* me cubrirá toda la sección sin deformar la imagen */
}

/* zona verde de productos donde está el botón e imágenes */
.destacados {
  text-align: center; /* texto de mi título centrado */
  font-family: 'Montserrat', sans-serif; /* tipo de letra */
  background-color:#026766; /* color de mi contenedor */
  color: white; /* color de la letra que está dentro de mi contenedor verde */
  padding: 100px; /* aquí me quedo */
}

/* sección donde se colocaron las imágenes con los precios */
.productos {
  display: flex; /* activa Flexbox */
  flex-wrap: wrap; /* empuja el botón al extremo derecho si cabe */
  justify-content: center; /* me centra el contenido */
  gap: 5rem; /* es el espacio designado entre las fotografías */
}

/* imágenes de la sección destacados donde están los productos */
.producto {
  width: 200px; /* ancho del contenedor que tiene mis imágenes */
  border-radius: 8px; /* borde de las imágenes */
}

/* área exacta de las imágenes */
.producto img {
  width: 100%; /* ancho */
  border-radius: 8px; /* borde de las imágenes */
}

/* párrafos con etiqueta h3 que contienen nombre de los pasteles */
.producto h3 {
  font-size: 1rem; /* tamaño de la letra */
  margin: 0.5rem 0; /* el margen o espacio entre los elementos de esa sección: nombre y precio */
}

/* párrafo de precio */
.producto p {
  font-weight: lighter; /* grosor de los números */
  color: white; /* color de los números */
}

/* zona de mis iconos verdes */
.beneficios {
  background-color: #f8f8f8; /* color de mi contenedor */
  padding: 30px 0; /* área de relleno en los cuatro lados de un elemento */
  font-size: 1.2rem; /* tamaño de la letra */
}

.containerelements img {
  width: 10%; /* ancho de los elementos */
  height: 20%; /* altura de mis iconos */
}
