body {
  background-color: #fff;
}
#carouselExampleSlidesOnly{

  max-width: 2000px; /*tamaño de donde iran las imagenes*/
  margin: 50px auto 0; /*margen superior para despegar de la navbar */
  overflow: hidden; /*me permite controlar la imagen y su desboramiento en el contenedor para que luzca impecable*/
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); /*da una apriencia de sombreado de mis imagenes lo cual me ayuda a mostrar la elimitacion y estetica de la smismas*/
}
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  background-color: white;
  padding: 10px;;
}
.hero .carousel-item {
  width: 100%; /*ancho de la imagen*/
  height: 1000px; /*Altura de la imagen*/
  object-fit: cover; /* me cubrirá toda la sección sin deformar la imagen*/

}
  

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero .btn {
  background-color: #026766;
  font-size: 24px;
  padding: 20px 40px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

.hero .btn:hover {
  background-color: #024c4c;
}

.recetas {
  background-color: #026766;
  color: white;
  padding: 80px 30px;
}

.overlay-img {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5cm;
  align-items: center;
}

.overlay-img img {
  width: 5cm;
  height: 5cm;
  object-fit: cover;
  flex-shrink: 0;
}

.overlay-img .btn {
  margin-left: auto;
}

.beneficios {
  background-color: #f8f8f8;
  padding: 30px 0;
  font-size: 1.2rem;
}

.imagenes-recetas img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}
